<%= render 'shared/page_title', title: "All Recipes" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path, {:style=>'font-size:20px'} %>
  </li>
  <li>
    <%= link_to "Recipe Wizards", chefs_path, {:style=>'font-size:20px'} %>
  </li>
</ul>

<%= will_paginate %>

<% @recipes.each do |recipe| %>

  <div class="row">
   <div class="col-md-1" style="width:6%">

  </div>

  <div class="col-lg-6 well" style="min-height:240px;width: 600px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <center><h2><%= link_to recipe.name, recipe_path(recipe), {:style=>'font-family: Garamond;font-size:30px;text-align:left'} %></h2></center>
    <center><p style="font-family: Garamond; font-size:20px;" id="summaryp"><%= recipe.summary %></p></center>
      
    <% if recipe.styles.any? %>
      <p id="div1">Styles: <%= render recipe.styles %></p><br>
    <% end %>
    <% if recipe.ingredients.any? %>
      <p id="div1">Ingredients: <%= render recipe.ingredients %></p><br>
    <% end %>
    <% if recipe.ingredients.any? %>
      <p id="div1">Alergens: <%= render recipe.allergens %></p><br>
    <% end %>
    <section class="chef_info center">
      <h2 style="text-align:right"><%=link_to ("Crafted by: " + recipe.chef.chefname), chef_path(recipe.chef) %></h2>
      <!--<h4>< %= mail_to recipe.chef.email, "Question about this recipe? ask me! click here" %></h4>-->
    </section>

  </div>
  <div class="col-md-6">
    <%=image_tag(recipe.picture.url, alt: 'No image', size: '300x240', class: 'gravatar') if recipe.picture? %>
    <%=image_tag(recipe.drinkpic.url, alt: 'No image', size: '300x240', class: 'gravatar') if recipe.drinkpic? %>
  </div>
  <!-- '250x150'-->
  </div>
<% end %>

<%= will_paginate %>
