<!DOCTYPE html>
<html>
<head>
  <title>All Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= render 'layouts/navigation' unless @disable_nav %>
 
  <div class="container">
   <%= render 'layouts/messages' %>
   <%= yield %>
   <%= render 'layouts/footer' unless @disable_footer %>
   <script type="text/javascript">
  displayClock();
</script>
   </div>   
</body>
</html>
